<section class="hero">

  <!-- Background glow -->
  <div class="hero-bg"></div>

  <div class="hero-container">

     <div class="hero-text">
    <p class="badge">#1 MEDIA MARKETPLACE FOR ADVERTISERS &amp; AGENCIES</p>
    <p class="bigger-impact">Bigger Impact</p>
    <h1 class="main-title">Stronger Campaigns</h1>
    <p class="tagline">Smarter Media Buying</p>
  </div>

    <!-- Image Card -->
    <div class="hero-card">

      <img src="assets/images/hero-banner.png" alt="hero" />

      <!-- Top CTA (floating) -->
      <a class="hero-cta">
        Start your journey!
      </a>

      <!-- Bottom CTA -->
      <a class="hero-learn">
        <span class="icon">▶</span>
        Learn More
      </a>

    </div>

  </div>
</section>