<ng-container *ngIf="solutionData">
  <section class="section">

    <!-- Heading -->
    <div class="heading">
      <p class="tag">WHY MEDIA ALA CARTE?</p>

      <h1>
        {{ solutionData.heading }}
        <span class="highlight">{{ solutionData.highlightText }}</span>
        {{ solutionData.subheading }}
      </h1>
    </div>

    <!-- Grid -->
    <div class="grid">

      <!-- Hero Banner -->
      <div class="hero" 
      ngmMotion
      [initial]="{
        opacity: 0,
         y: 80
      }"
      [whileInView]="{
        opacity: 1,
        y: 0,
        transition: {
          delay: .2,
          duration: 0.5,
          ease: 'easeInOut'
        }
      }">
        <img [src]="solutionData.heroImage" alt="" />
        <div class="overlay">
          <p>{{ solutionData.heroText }}</p>
          <button appButton variant="primary" textColor="var(--color-surface)">
            Get Started
          </button>
        </div>
      </div>

    @for (card of solutionData.cards; track card.title; let i = $index) {
      <app-solution-card
      
        [data]="card"
        
        ngmMotion
      [initial]="{
        opacity: 0,
         x: i % 3 === 0 ? 80 : -80,
         z: 0.01
      }"
      [whileInView]="{
        opacity: 1,
        x: 0,
        z: 0.01,
        transition: {
          delay: i * 0.12,
          duration: 0.6,
          ease: 'easeInOut'
        }
      }"
      [viewport]="{ once: false, margin: '-100px' }" />
      
    }
    </div>

  </section>
</ng-container>