<ng-container *ngIf="services && services.length">
  <section class="services">
    <div class="header">
      <div class="icon">
        <app-icon 
          [icon]="faGears"
          color="#fff"
          size="2x"
        />
      </div>
      <h2>Our Services</h2>
    </div>

    <div class="cards">
      @for (service of services; track service.title; let i = $index) {
        <app-service-card
          
          [title]="service.title"
          [description]="service.description"
          [image]="service.image"
          ngmMotion
          [initial]="{ opacity: 0, y: 60 }"
          [whileInView]="{ opacity: 1, y: 0 }"
          [transition]="{
            delay: i * 0.12,
            type: 'spring',
            stiffness: 300,
            damping: 20
          }"
          
        />
      }
    </div>
  </section>
</ng-container>
