<ng-container *ngIf="services && services.length">
  <section class="services">
    <div class="header">
      <div class="icon">
        <app-icon 
          [icon]="faGears"
          color="#fff"
          size="2x"
        />
      </div>
      <h2>Our Services</h2>
    </div>

    <div class="cards">
      <app-service-card
        *ngFor="let service of services; let i = index"
        [title]="service.title"
        [description]="service.description"
        [image]="service.image"
        [style.animationDelay]="i * 0.2 + 's'"
      ></app-service-card>
    </div>
  </section>
</ng-container>
