<main>

  <ng-container *ngIf="loading(); else content">
  <app-loader />
</ng-container>

<ng-template #content>
  <ng-container *ngIf="!error() && homeData() as home; else errorContent">

    <app-hero [heroBanner]="home.hero"></app-hero>
    <app-cross-banner 
      [primaryText]="home.adBanner.primaryText"
      [secondaryText]="home.adBanner.secondaryText"
      [speed]="'10s'"
    />
    <app-services-section [services]="home.services" />
    <app-solutions-section [solutionData]="home.solutions"/>
    <app-stats [statsData]="home.statsData"/>
    <app-media [mediaInfo]="home.mediaInfo"/>
  </ng-container>
</ng-template>

<ng-template #errorContent>
  <div class="absolute-center error-container">
    <h2>Something went wrong.</h2>

    <button 
      (click)="retry()"
      [disabled]="retryCount() >= maxRetries">

      {{ retryCount() >= maxRetries 
          ? 'Retry limit reached' 
          : 'Try Again' }}
    </button>

    <p *ngIf="retryCount() > 0">
      Attempts: {{ retryCount() }} / {{ maxRetries }}
    </p>
  </div>
</ng-template>

</main>
